.container-fluid {
	  	background: url('../images/colorful.jpg');
}

body {
	height: 100%;
	width: 100%;
}

header {
  background-color: black;
  text-align: center;
}

h1 {
  background-color: rgba(102, 153, 204, .4);
}

p {
	font-weight: bolder;
	text-align: center;
}

footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  width: 100%;
}


.game {
	background-color: rgba(0, 0, 0, .4);
	border-color: whitesmoke;
	border-style: dotted;
	border-width: 3px;
	color: whitesmoke;
}

.picture {
	background-color: rgba(28, 55, 91, .7);
	border-color: whitesmoke;
	border-style: dotted;
	border-width: 3px;
	text-align: center;
}


#losses, #wins {
	font-weight: bold;
	text-align: center;
}

#current-word {
	font-weight: bold;
	text-align: center;
}

