html {
	font-family: 'Abel', sans-serif;
}

.container-fluid {
	background: url('../img/colorful.jpg');
}

body {
	height: 100%;
	width: 100%;
}

header {
	text-align: center;
	width: 100%;
}

h1 {
	background-color: rgba(102, 153, 204, .4);
}

p {
	color: black;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	text-shadow: 2px 1px 20px black;
}

footer {
	background-color: black;
	color: whitesmoke;
	margin-top: 2%;
	padding: 5%;
	text-align: center;
	width: 100%;
}

.game {
	background-color: rgba(0, 0, 0, .7);
	border-color: whitesmoke;
	border-style: dotted;
	border-width: 3px;
	color: whitesmoke;
}

.picture {
	background-color: rgba(28, 55, 91, .7);
	border-color: whitesmoke;
	border-style: dotted;
	border-width: 3px;
	text-align: center;
}

#losses,
#wins {
	color: lightgrey;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 3px #000;
}

#wins {
	color: green;
}

#losses {
	color: red;
}

#current-word {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 1px #000000;
}

#banner {
	border-radius: 15%;
	height: 250px;
	margin: 5% 0 1% 0;
	max-width: 100%;
	width: 100%;
}

#remaining-guesses {
	font-weight: bold;
	text-align: center;
	text-shadow: .04rem .04rem .02rem #000;
	color: cyan;
}

#guessed-letters {
	color: orange;
	font-weight: bold;
}

p {
	color: white;
}